
/* .footer .row .green-link a:hover{
    color: #19af30 !important;
} */

/* .green-app div a:hover{
    text-decoration: none;
    background-color: #19af30;
    color: #fff !important;
    transition: 250ms;
} */