<main class="main">


    <ol class="breadcrumb container">
        <li class="breadcrumb-item">
            <a href="" class="d-flex"><i class="icon-home"></i></a>
        </li>
        <li class="breadcrumb-item active pointer" aria-current="page"><a (click)="mainCategory()" >{{'Categories' | translate}}</a></li>
                                <!-- <li class="breadcrumb-item active" aria-current="page">Шампунь Botanic Therapy Олія оливи 250мл</li> -->
    </ol>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">                     
                        <div class="rounded recomendations">
                            <div class="">
                                <div  class=" d-flex align-items-center justify-content-between p-3 bg-gray rounded">
                                    <a class="h4 font-weight-600 noselect m-0 text-uppercase open-sans" *ngIf="category_main && lang == 'en'" routerLink="/catalog/{{category_main.id}}" > {{category_main.title_eng}}  </a>
                                    <a class="h4 font-weight-600 noselect m-0 text-uppercase open-sans" *ngIf="category_main && lang == 'ru'" routerLink="/catalog/{{category_main.id}}" > {{category_main.title_ru}}  </a>
                                    <a class="h4 font-weight-600 noselect m-0 text-uppercase open-sans" *ngIf="category_main && (lang == 'ua' || !lang)" routerLink="/catalog/{{category_main.id}}" > {{category_main.title_ua}}  </a>
                                    <a class="h4 font-weight-600 noselect m-0 text-uppercase open-sans" *ngIf="!category_main" (click)="mainCategory()"> {{'Categories' | translate}}  </a>
                                    <span class="pointer" (click)="categoryToggle = !categoryToggle" *ngIf="categoryToggle" data-toggle="collapse" href="#widget-body-888" role="button" aria-expanded="true" aria-controls="widget-body-888"><fa-icon [icon]="faChevronUp" class="h4 font-weight-300"></fa-icon> </span>
                                    <span class="pointer" (click)="categoryToggle = !categoryToggle" *ngIf="!categoryToggle" data-toggle="collapse" href="#widget-body-888" role="button" aria-expanded="true" aria-controls="widget-body-888"><fa-icon [icon]="faChevronDown" class="h4 font-weight-300"></fa-icon> </span>
                                </div>
                                <div class="collapse show" id="widget-body-888" >
                                    <div class="container">
                                        <ul class="cat-list pt-2">
                                        <ng-template #recursiveCategories let-categories>
                                            <li class="m-0 " *ngFor="let item of categories" >
                                                <div *ngIf="item.inStore">
                                                <a  *ngIf="lang == 'ua' || !lang" routerLink="/catalog/{{item.id}}" [class.text-primary]="id == item.id" class="pb-2 d-block">{{item.title_ua}}</a>
                                                <a  *ngIf="lang == 'ru' " routerLink="/catalog/{{item.id}}" [class.text-primary]="id == item.id" class="pb-2 d-block">{{item.title_ru}}</a>
                                                <a  *ngIf="lang == 'en' " routerLink="/catalog/{{item.id}}" [class.text-primary]="id == item.id" class="pb-2 d-block">{{item.title_eng}}</a>
                                            
                                                    <ul class="pl-2" *ngIf="item.child_categories.length > 0"  >
                                                        <ng-container *ngTemplateOutlet="recursiveCategories ; context:{ $implicit: item.child_categories }"></ng-container>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ng-template>
                                    
                                        <ng-container *ngTemplateOutlet="recursiveCategories ; context:{ $implicit: categories }"></ng-container>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2">
                                <div (click)="priceToggle = !priceToggle" class="pointer d-flex align-items-center justify-content-between p-3 bg-gray rounded" data-toggle="collapse" href="#widget-body-999" role="button" aria-expanded="true" aria-controls="widget-body-999">
                                    <a data-toggle="collapse" class="h4 font-weight-600 noselect m-0 text-uppercase open-sans" href="#widget-body-999" role="button" aria-expanded="true" aria-controls="widget-body-999" >{{'Price' | translate}}</a>
                                    <span *ngIf="priceToggle" data-toggle="collapse" href="#widget-body-999" role="button" aria-expanded="true" aria-controls="widget-body-999"><fa-icon [icon]="faChevronUp" class="h4 font-weight-300"></fa-icon> </span>
                                    <span *ngIf="!priceToggle" data-toggle="collapse" href="#widget-body-999" role="button" aria-expanded="true" aria-controls="widget-body-999"><fa-icon [icon]="faChevronDown" class="h4 font-weight-300"></fa-icon> </span>
                                </div>
                                <div class="collapse show pb-3" id="widget-body-999" >
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-6"> 
                                            <mat-form-field class="example-form-field w-100">
                                                <mat-label>{{'From' | translate}}</mat-label>
                                                <input matInput class="font-size-16" type="number" [(ngModel)]="min">
                                                <button mat-button *ngIf="min" matSuffix mat-icon-button aria-label="Clear" (click)="minNull()">
                                                    <fa-icon [icon]="faTimes" class=""></fa-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="example-form-field w-100">
                                                <mat-label>{{'To' | translate}}</mat-label>
                                                <input matInput class="font-size-16" type="number" [(ngModel)]="max">
                                                <button mat-button *ngIf="max" matSuffix mat-icon-button aria-label="Clear" (click)="maxNull()">
                                                    <fa-icon [icon]="faTimes" class=""></fa-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col text-center text-light outline-none ">
                                            <button (click)="refreshProducts()" [disabled]="!max && !min" mat-button class="bg-yellow text-black">{{'Find' | translate}}</button>
                                        </div>
                                    </div>
                                    </div>
                                </div><!-- End .collapse -->
                            </div>
                            <!-- <div class="mt-2">
                                <div class="d-flex align-items-center justify-content-between p-3 bg-gray rounded">
                                    <p class="max-w-80 h4 font-weight-600 noselect m-0 text-uppercase open-sans">Рекомендовані товари</p>
                                    <div>
                                        <span class="pr-1 divider pointer" (click)="productOwl2.prev()" ><fa-icon [icon]="faChevronLeft" class="h4 font-weight-300"></fa-icon> </span> 
                                        <span class="pl-1 divider pointer" (click)="productOwl2.next()"><fa-icon [icon]="faChevronRight" class="h4 font-weight-300"></fa-icon> </span>
                                    </div>
                                </div>
                                <owl-carousel-o [options]="customOptions2" #productOwl2>
                                <ng-template carouselSlide>
                                    <div class="slide" >
                                        <div class="product-default text-center left-details product-widget flex-column align-items-center" *ngFor="let product of products2" >
                                            <figure class="m-0">
                                            <div class="sale2" *ngIf="product.sale != 0"> 
                                            <p class="p-2 h4 m-0 text-white text-center">- {{product.sale}} %</p> 
                                            </div>
                                            <a href="" class="d-block" style="background-image: url({{product.url}});height:84px;width:84px; background-repeat: no-repeat !important;background-size: contain;background-position: center;"></a>
                                            </figure>
                                            <div class=" align-items-stretch w-100" >
                                            <h2 class="product-title">
                                            <a class="text-wrap" href="">{{product.title}}</a>
                                            </h2>
                                            <div class="price-box ">
                                            <span class="product-price font-weight-600">{{product.price}} грн </span>
                                            <span class="product-price font-weight-300 pl-3" *ngIf="product.old_price != 0"> <small> <s> {{product.old_price}} грн </s> </small></span>
                                            </div>
                                            <div [@togglePriceBox]="product.isOpen ? 'hidden' : 'visible'" class="row align-items-center justify-content-center pt-2 pb-1" *ngIf="product.count != 0">
                                            <div *ngIf="product.count == 1" class="col-auto trash-bin pointer" (click)="rmFromCart(product)"><fa-icon [icon]="faTrash" class="h2 font-weight-light"></fa-icon></div>
                                            <div *ngIf="product.count > 1" class="col-auto  trash pointer" (click)="rmFromCart(product)"><fa-icon [icon]="faMinusCircle" class="h2 font-weight-light"></fa-icon></div>
                                            <div class="col-auto counter h3 m-0 font-weight-400 "><span class="noselect">{{product.count}}</span></div>
                                            <div class="col-auto divider pointer" (click)="addToCart(product)"><fa-icon [icon]="faPlusCircle" class="h2 font-weight-light"></fa-icon></div>
                                            </div>
                                            <div [@togglePriceBox]="product.isOpen ? 'visible' : 'hidden'" class="row align-items-center" *ngIf="product.count == 0" style="height: 37.5px;">
                                            <div class="col text-center text-dark outline-none ">
                                                <button mat-button class="bg-light text-uppercase toCart" (click)="addToCart(product)">В корзину</button>
                                            </div>
                                            </div>
                                            
                                            </div>
                                            
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="slide" >
                                        <div class="product-default text-center left-details product-widget flex-column align-items-center" *ngFor="let product of products3" >
                                            <figure class="m-0">
                                            <div class="sale2" *ngIf="product.sale != 0"> 
                                            <p class="p-2 h4 m-0 text-white text-center">- {{product.sale}} %</p> 
                                            </div>
                                            <a href="" class="d-block" style="background-image: url({{product.url}});height:84px;width:84px; background-repeat: no-repeat !important;background-size: contain;background-position: center;"></a>
                                            </figure>
                                            <div class=" align-items-stretch w-100" >
                                            <h2 class="product-title">
                                            <a class="text-wrap" href="">{{product.title}}</a>
                                            </h2>
                                            <div class="price-box ">
                                            <span class="product-price font-weight-600">{{product.price}} грн </span>
                                            <span class="product-price font-weight-300 pl-3" *ngIf="product.old_price != 0"> <small> <s> {{product.old_price}} грн </s> </small></span>
                                            </div>
                                            <div [@togglePriceBox]="product.isOpen ? 'hidden' : 'visible'" class="row align-items-center justify-content-center pt-2 pb-1" *ngIf="product.count != 0">
                                                <div *ngIf="product.count == 1" class="col-auto trash-bin pointer" (click)="rmFromCart(product)"><fa-icon [icon]="faTrash" class="h2 font-weight-light"></fa-icon></div>
                                                <div *ngIf="product.count > 1" class="col-auto  trash pointer" (click)="rmFromCart(product)"><fa-icon [icon]="faMinusCircle" class="h2 font-weight-light"></fa-icon></div>
                                                <div class="col-auto counter h3 m-0 font-weight-400 "><span class="noselect">{{product.count}}</span></div>
                                                <div class="col-auto divider pointer" (click)="addToCart(product)"><fa-icon [icon]="faPlusCircle" class="h2 font-weight-light"></fa-icon></div>
                                            </div>
                                            <div [@togglePriceBox]="product.isOpen ? 'visible' : 'hidden'" class="row align-items-center" *ngIf="product.count == 0" style="height: 37.5px;">
                                            <div class="col text-center text-dark outline-none ">
                                                <button mat-button class="bg-light text-uppercase toCart" (click)="addToCart(product)">В корзину</button>
                                            </div>
                                            </div>
                                            
                                            </div>
                                            
                                        </div>
                                    </div>
                                </ng-template>
                                </owl-carousel-o>
                            </div> -->
                            <div class="mt-2">
                            <app-recomended-baner></app-recomended-baner>
                            </div>
                        </div>
                                                </div>
                    <div class="col-lg-9">
                        <!-- <nav class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-item toolbox-sort">
                                    <div class="select-custom">
                                        <select name="orderby" class="form-control" id="sorting" style="max-width: 100%">
                                            <option value="/created_at/asc" data-id="443" data-sort="created_at" data-direction="asc" selected="selected">Сортування за новизною</option>
                                            <option value="/created_at/desc" data-id="443" data-sort="created_at" data-direction="desc">Сортування за популярністю</option>
                                            <option value="/price/asc" data-id="443" data-sort="price" data-direction="asc">Сортування за ціною: дешеві - дорогі </option>
                                            <option value="/price/desc" data-id="443" data-sort="price" data-direction="desc">Сортування за ціною: дорогі - дешеві</option>
                                        </select>
                                    </div>

                                    <a href="#" class="sorter-btn" title="Set Ascending Direction"><span class="sr-only">Set Ascending Direction</span></a>
                                </div>
                            </div>
                                                    </nav> -->
                                                    <div class="row justify-content-end">
                                                        <div class="col-auto">
                                                                <!-- <mat-form-field appearance="fill" class="">
                                                                    <mat-label>Товарів на сторінці</mat-label>
                                                                    <mat-select>
                                                                      <mat-option *ngFor="let food of foods" [value]="food.value">
                                                                        {{food.viewValue}}
                                                                      </mat-option>
                                                                    </mat-select>
                                                                  </mat-form-field> -->
                                                                  <div class="form-group d-flex align-items-center">
                                                                    <label for="amount" class="line-height-1 m-0 pr-3">
                                                                        <span class="h4 m-0 font-weight-300">    {{'Products on page' | translate}} </span>
                                                                    </label>
                                                                    <select (change)="refreshProducts()" [(ngModel)]="selectedPerPage" class="form-control h4 w-auto p-0 pl-2 h-auto rounded" id="amount">
                                                                      <option *ngFor="let item of perPage" [ngValue]="item">{{item.title}}</option>
                                                                    </select>
                                                                  </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="form-group d-flex align-items-center">
                                                                <label for="sort" class="line-height-1 m-0 pr-3">
                                                                    <span class="h4 m-0 font-weight-300">    {{'Sort by' | translate}} </span>
                                                                </label>
                                                                <select  *ngIf="lang == 'en'" (change)="refreshProducts()" [(ngModel)]="selectedSort" class="form-control h4 w-auto p-0 pl-2 h-auto rounded" id="sort">
                                                                  <option *ngFor="let item of sorts" [ngValue]="item">{{item.title_en}}</option>
                                                                </select>
                                                                <select  *ngIf="lang == 'ru'" (change)="refreshProducts()" [(ngModel)]="selectedSort" class="form-control h4 w-auto p-0 pl-2 h-auto rounded" id="sort">
                                                                    <option *ngFor="let item of sorts" [ngValue]="item">{{item.title_ru}}</option>
                                                                  </select>
                                                                  <select  *ngIf="lang == 'ua' || !lang " (change)="refreshProducts()" [(ngModel)]="selectedSort" class="form-control h4 w-auto p-0 pl-2 h-auto rounded" id="sort">
                                                                    <option *ngFor="let item of sorts" [ngValue]="item">{{item.title}}</option>
                                                                  </select>
                                                              </div>
                                                            <!-- <mat-form-field appearance="fill" class="">
                                                                <mat-label>Сортувати за</mat-label>
                                                                <mat-select>
                                                                  <mat-option *ngFor="let filter of filters" [value]="filter.value">
                                                                    {{filter.viewValue}}
                                                                  </mat-option>
                                                                </mat-select>
                                                              </mat-form-field> -->
                                                        </div>
                                                    </div>
                                                    
                        
                        <div class="row row-sm">
                                <div class="col-6 col-md-4 pb-4" *ngFor="let product of products | paginate: { id: 'catalog',itemsPerPage: per_page,currentPage: page,totalItems: total }">
                                    <div  class="product-default d-flex flex-column h-100 m-0">
                                    <figure class="pointer select_shadow" (click)="goToProduct(product)">
                                        <div class="sale rounded" *ngIf="product.sale"> 
                                            <p class="p-3 h3 m-0 text-white text-center noselect"> - {{product.sale}} %</p> 
                                        </div>
                                    <a (click)="goToProduct(product)" class="select_shadow d-block pointer mt-2 mb-1" style="background-image: url({{url}}{{product.product.icons[0].url}}); background-repeat: no-repeat; height: 220px; background-position: center; background-size: contain;" >
                                        </a>
                                    </figure>
                                    <div class="product-details text-center justify-content-end h-100">
                                        <h2 (click)="goToProduct(product)" class="select_shadow pointer product-title h-100" style="min-height:60px">
                                        <a *ngIf="(lang == 'ua' || !lang) && (product.weight_type == 1)" class="text-wrap product_selector" >{{product.product.title_ua}} <span *ngIf="product.weight">{{product.weight}}</span><span>кг</span> </a>
                                        <a *ngIf="(lang == 'ua' || !lang) && (product.weight_type == 0)" class="text-wrap product_selector" >{{product.product.title_ua}} <span *ngIf="product.weight">{{product.gram_weight}}</span><span>г</span> </a>

                                        <a *ngIf="(lang == 'ru') && (product.weight_type == 1)" class="text-wrap product_selector" >{{product.product.title_ru}} <span *ngIf="product.weight">{{product.weight}}</span><span>кг</span> </a>
                                        <a *ngIf="(lang == 'ru') && (product.weight_type == 0)" class="text-wrap product_selector" >{{product.product.title_ru}} <span *ngIf="product.weight">{{product.gram_weight}}</span><span>г</span> </a>

                                        <a *ngIf="(lang == 'en') && (product.weight_type == 1)" class="text-wrap product_selector" >{{product.product.title_eng}} <span *ngIf="product.weight">{{product.weight}}</span><span>kg</span> </a>
                                        <a *ngIf="(lang == 'en') && (product.weight_type == 0)" class="text-wrap product_selector" >{{product.product.title_eng}} <span *ngIf="product.weight">{{product.gram_weight}}</span><span>g</span> </a>
                                        
                                        </h2>
                                        <div (click)="goToProduct(product)" class="select_shadow pointer price-box align-self-center ">
                                            <div *ngIf="product.special_price != 0 && product.sale"> 
                                                <span class="product-price font-weight-600" >{{product.special_price}} {{'hrn' | translate}} </span>
                                                <span class="product-price font-weight-300 pl-3" > <small> <s> {{product.price}} {{'hrn' | translate}} </s> </small></span>
                                            </div>
                                            <div *ngIf="!product.sale"> 
                                                <span class="product-price font-weight-600" >{{product.price}} {{'hrn' | translate}} </span>
                                            </div>
                                            
                                        </div>

                                            <div [@toggleBox]="product.isOpen ? 'hidden' : 'visible'" class="row align-items-center pt-2 pb-1" style="height: 36px;" *ngIf="product.count != 0">
                                                <div *ngIf="product.count == 1" class="col trash-bin pointer" (click)="decreaseProduct(product)"><fa-icon [icon]="faTrash" class="h2 font-weight-light"></fa-icon></div>
                                                <div *ngIf="product.count > 1" class="col  trash pointer" (click)="decreaseProduct(product)"><fa-icon [icon]="faMinusCircle" class="h2 font-weight-light"></fa-icon></div>
                                                <div class="col counter h3 m-0 font-weight-400 "><span class="noselect">{{product.count}}</span></div>
                                                <div class="col divider pointer" (click)="addToCart(product)"><fa-icon [icon]="faPlusCircle" class="h2 font-weight-light"></fa-icon></div>
                                            </div>
                                            <div [@toggleBox]="product.isOpen ? 'visible' : 'hidden'" class="row align-items-center" *ngIf="product.count == 0">
                                                <div class="col text-center text-dark outline-none ">
                                                    <button mat-button class="bg-light text-uppercase toCart" (click)="addToCart(product)">{{'To cart' | translate}}</button>
                                                </div>
                                            </div>

                                    </div>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="customPagination font-russo-one size16 d-flex justify-content-end ">
                            <pagination-controls
                        id="catalog"
                        previousLabel=""
                        nextLabel=""
                        responsive="true"
                        (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)"
                        autoHide="true"
                        maxSize="12"
                        directionLinks="true"
                        ></pagination-controls> 
                        </div>
                        <!-- <nav class="toolbox toolbox-pagination">

                            <ul class="pagination">
                            <nav>
        <ul class="pagination">
            
                            <li class="page-item disabled" aria-disabled="true" aria-label="«">
                    <span class="page-link" aria-hidden="true">‹</span>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://foodforlife.com.ua/category/281/0/10000/created_at/asc?page=2">2</a></li>
                                                                                                <li class="page-item"><a class="page-link" href="https://foodforlife.com.ua/category/281/0/10000/created_at/asc?page=3">3</a></li>
                                                                        
            
                            <li class="page-item">
                    <a class="page-link" href="https://foodforlife.com.ua/category/281/0/10000/created_at/asc?page=2" rel="next" aria-label="»">›</a>
                </li>
                    </ul>
    </nav>

                            </ul>
                        </nav> -->
                                            </div><!-- End .col-lg-9 -->

                    
                                            
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main>